<div class="hp-container">
  <div class="header__bac">
    <div class="header__bac-tree">
      <label class="label-prev-chev">Configuración de punto de venta</label>
      <mat-icon style="font-family: 'Material Icons'">{{
        "chevron_right"
      }}</mat-icon>
      <label class="label-post-chev">Comercio</label>
    </div>
    <div class="header__bac-actions">
      <h2>Comercio</h2>
      <button class="btn__elimination" *ngIf="isEliminationMode">
        Modo eliminación
        <mat-icon (click)="toggleEliminationModeTable()">close</mat-icon>
      </button>
      <div class="blank-space"></div>
      <div>
        <label *ngIf="isEliminationMode && selectItems.length > 0">
          {{ selectItems.length }} registro(s) seleccionado(s)
        </label>
        <button
          mat-button
          class="hp__buttons-save"
          *ngIf="!isEliminationMode"
          [routerLink]="['/config-red/comercio/crear-comercio']"
          [disabled]="isValidAccessLevel"
        >
          Nuevo
        </button>
        <button
          mat-button
          class="hp__buttons-save"
          (click)="popupEliminar()"
          *ngIf="isEliminationMode"
          [disabled]="isValidAccessLevel"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>


  <div class="hp-module-loader" *ngIf="isMerchartProccess; else elseBlock">
    <div class="hp-spinner hp-spinner-circle mr-3"></div>
  </div>
  <ng-template #elseBlock>
    <!-- <div class="text-right my-3">
      <button
        mat-button
        class="hp-button-primary mr-2"
        [routerLink]="['/config-red/comercio/crear-comercio']"
        [disabled]="isValidAccessLevel"
      >
        Nuevo
      </button>
      <button
        mat-button
        class="hp-button-primary"
        (click)="popupEliminar()"
        [disabled]="isValidAccessLevel"
      >
        Eliminar
      </button>
    </div> -->
<div class="hp-group">
      <div class="hp-group-body">
        <div
          class="space-progress-bar-left space-progress-bar-margin"
          *ngIf="isMerchartProgressBarProccess"
        >
          <mat-progress-bar
            style="width: 300px"
            mode="determinate"
            value="{{ totalPorcentaje }}"
          ></mat-progress-bar>
          <div class="porcentaje-space">
            {{ totalPorcentaje | number: "1.0-0" }} %
          </div>
        </div>
      </div>
      <div class="hp-group-body">
        <app-dynamictable
          [disableButtonDelete]=isValidAccessLevel
          [dataTable]="dataInput"
          [showColumns]="showColumns"
          [menuColumns]="menuColumns"
          [componenteDialog]="componenteDialog"
          [selectIdValue]="selectIdValue"
          [checkBox]="checkBox"
          [arrayOfTable]="arrayOfTable"
          [clearFilter]="clearFilter"
          [checkBoxColor]="checkBoxColor"
          [uniqueSelect]="false"
          (outPutEventEmitter)="processDataOutPut(utils.getDataOutPut($event))"
          (outPutEventEmitterShowColumn)="getShowColumn($event)"
          *ngIf="utils.dataIsValid(dataInput)"
          [typeHeight]="'vh'"
          [animal]="animal"
          [name]="name"
          [isMasterTable]="true"
          [eliminationMode]="isEliminationMode"
          [isClickableRow]="true"
          (isEliminationMode)="toggleEliminationMode($event)"
          (requestDeleteRow)="
            processDataOutPut(utils.getDataOutPut($event)); popupEliminar()
          "
          [deleteMany]="false"
        >
        </app-dynamictable>
      </div>
    </div>
  </ng-template>
</div>
