<div class="hp-container mb-4">

  <div class="header__bac">
    <div class="header__bac-tree">
      <label class="label-prev-chev">Configuración de punto de venta</label>
      <mat-icon style="font-family: 'Material Icons'">chevron_right</mat-icon>
      <label class="label-prev-chev">Cupo de comercio</label>
      <mat-icon style="font-family: 'Material Icons'">chevron_right</mat-icon>

      <label class="label-post-chev">Nuevo</label>
    </div>
    <!--<div class="header__bac-actions">
      <h2>Nuevo Cupo</h2>
      <div class="blank-space"></div>
    </div>-->
    <label class="fontH">Nuevo Cupo</label>
  </div>

  <!--<form #form="ngForm" (submit)="guardar( form )">-->


  <!-- <div class="hp-header">
    <h3 class="hp-title">Nuevo Cupo</h3>
    <div class="hp-path">
      <span class="material-icons">home</span>
      <span class="material-icons">navigate_next</span>
      Configuración de punto de venta
      <span class="material-icons">navigate_next</span>
      Cupo de comercio
      <span class="material-icons">navigate_next</span>
      Nuevo
    </div>
  </div>
  <mat-divider></mat-divider> -->

  <div class="hp-module-loader" *ngIf="showLoaderData1; else elseBlock">
    <div class="hp-spinner hp-spinner-circle mr-3"></div>
  </div>
  <ng-template #elseBlock>
    <div class="form-horizontal" [formGroup]="form">
      <div class="text-right my-3">

        <div class="row">
          <div class="col">
              <div class="row pl-3 mt-2">
                  <span class="material-icons back-to-list" [routerLink]="['/config-red/cupo-comercio']">arrow_back_ios</span>
                  <h3 class="fontH back-to-list" [routerLink]="['/config-red/cupo-comercio']">Atrás</h3>
              </div>
          </div>

          <div class="col d-flex justify-content-end">
              <button mat-button class="hp-button-save mr-2" (click)="guardar()" type="submit" [disabled]="isValidAccessLevel || isQuotaSaveProccess"><span class="material-icons-outlined mr-1" >save</span>Guardar</button>

          </div>
      </div>

      </div>

<div class="hp-group ">
        <div class="hp-group-header">
          <div class="hp-title">
            <mat-icon>list_alt</mat-icon>
            Información General
          </div>
        </div>
        <div class="hp-group-body">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="form-group row">
                <label class="col-sm-3 text-right control-label col-form-label">
                  Comercio
                </label>
                <div class="col-sm-9" style="display: flex">
                  <input
                    class="form-control"
                    readonly
                    type="text"
                    formControlName="merchantName"
                  />

                  <div
                    class="input-group-append"
                    (click)="popupMerchant()"
                    style="cursor: pointer"
                  >
                    <span
                      class="input-group-text"
                      style="background-color: white"
                      ><mat-icon>search</mat-icon></span
                    >
                  </div>
                  <img
                  class="hp-icon-error"
                  src="assets/images/erroricon.png"
                  *ngIf="getMessage(MSG_COMERCIO) != MSG_NONE"
                  [matTooltip]="getMessage(MSG_COMERCIO)"
                />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="form-group row">
                <label class="col-sm-3 text-right control-label col-form-label">
                  Perfil de Comercio
                </label>
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    readonly
                    type="text"
                    formControlName="profileId"
                  />
                  <img
                  class="hp-icon-error"
                  src="assets/images/erroricon.png"
                  *ngIf="getMessage(MSG_LIMIT_LOCAL) != MSG_NONE"
                  [matTooltip]="getMessage(MSG_LIMIT_LOCAL)"
                />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="form-group row">
                <label class="col-sm-3 text-right control-label col-form-label">
                  Aplicación
                </label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="applicationId">
                    <option
                      *ngFor="let aplication of aplications"
                      [value]="aplication.applicationId"
                    >
                      {{ aplication.applicationName }}
                    </option>
                  </select>
                  <img
                  class="hp-icon-error"
                  src="assets/images/erroricon.png"
                  *ngIf="getMessage(MSG_APLICACION) != MSG_NONE"
                  [matTooltip]="getMessage(MSG_APLICACION)"
                />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <button
                mat-raised-button
                (click)="loadCupos()"
                type="submit"
                [disabled]="form.invalid || !form.dirty"
              >
                <mat-icon> search </mat-icon>
                <span>Buscar</span>
              </button>
              <!-- <img
              class="hp-icon-error"
              src="assets/images/erroricon.png"
              *ngIf="getMessage(MSG_TRANSACCION) != MSG_NONE"
              [matTooltip]="getMessage(MSG_TRANSACCION)"
            /> -->
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="showData">
        <br>
        <div class="hp-group" style="margin-top: 20px;">
          <div class="hp-group-header">
            <div class="hp-title">
              <mat-icon>list_alt</mat-icon>
              Transacciones
              <div class="ml-4">
                <button
                  mat-button
                  class="hp-button-primary mr-2"
                  (click)="addCupos()"
                >
                  Agregar
                </button>
              </div>
            </div>
          </div>
          <div class="hp-group-body">
            <app-dynamictable
              *ngIf="utils.dataIsValid(transactions)"
              [dataTable]="transactions"
              [showColumns]="showColumnsTransaction"
              [menuColumns]="menuColumnsTransaction"
              [havePaginator]="havePaginator"
              [selectIdValue]="selectIdValue"
              [checkBox]="checkBox"
              [arrayOfTable]="arrayOfTable"
              [clearFilter]="clearFilter"
              [checkBoxColor]="checkBoxColor"
              [deleteMany]="false"
              [porcentajeTamaño]="0.5"
              (outPutEventEmitter)="
                processDataOutPutTransaction(utils.getDataOutPut($event))
              "
              [animal]="animal"
              [name]="name"
              #table
            >
            </app-dynamictable>
          </div>
        </div>

        <br>
        <div class="hp-group" style="margin-top: 20px;">
          <div class="hp-group-header">
            <div class="hp-title">
              <mat-icon>list_alt</mat-icon>
              Periodo Diario
              <div class="ml-4">
                <button
                  mat-button
                  class="hp-button-primary mr-2"
                  (click)="deleteDiario()"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
          <div class="hp-group-body">
            <app-dynamictable
              *ngIf="utils.dataIsValid(quotasDiario)"
              [dataTable]="quotasDiario"
              [showColumns]="showColumnsDiario"
              [menuColumns]="menuColumnsDiario"
              [havePaginator]="havePaginator"
              [selectIdValue]="selectIdValue"
              [checkBox]="checkBox"
              [arrayOfTable]="arrayOfTable"
              [clearFilter]="clearFilter"
              [checkBoxColor]="checkBoxColor"
              [porcentajeTamaño]="0.5"
              [isClickableRow]="true"
              [deleteMany]="false"
              (outPutEventEmitter)="
                processDataOutPutDiario(utils.getDataOutPut($event))
              "
              (clickRowEventEmitter)="clickRowDiario($event)"
              [animal]="animal"
              [name]="name"
              #tableDiario
            >
            </app-dynamictable>
          </div>
        </div>
        <br>
        <div class="hp-group" style="margin-top: 20px;">
          <div class="hp-group-header">
            <div class="hp-title">
              <mat-icon>list_alt</mat-icon>
              Periodo Mensual
              <div class="ml-4">
                <button
                  mat-button
                  class="hp-button-primary mr-2"
                  (click)="deleteMensual()"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
          <div class="hp-group-body">
            <app-dynamictable
              *ngIf="utils.dataIsValid(quotasMensual)"
              [dataTable]="quotasMensual"
              [showColumns]="showColumnsMensual"
              [menuColumns]="menuColumnsMensual"
              [havePaginator]="havePaginator"
              [selectIdValue]="selectIdValue"
              [checkBox]="checkBox"
              [arrayOfTable]="arrayOfTable"
              [clearFilter]="clearFilter"
              [checkBoxColor]="checkBoxColor"
              [porcentajeTamaño]="0.5"
              [isClickableRow]="true"
              [deleteMany]="false"
              (outPutEventEmitter)="
                processDataOutPutMensual(utils.getDataOutPut($event))
              "
              (clickRowEventEmitter)="clickRowMensual($event)"
              [animal]="animal"
              [name]="name"
              #tableMensual
            >
            </app-dynamictable>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <div class="hp-module-loader" *ngIf="isQuotaSaveProccess">
    <div class="hp-spinner hp-spinner-circle mr-3"></div>
  </div>
  <div class="hp-module-loader" *ngIf="showLoaderData">
    <div class="hp-spinner hp-spinner-circle mr-3"></div>
  </div>
  <div *ngIf="showError" class="error-msg">
    Error al cargar la informacion, favor de contactarse con el administrador
  </div>
</div>
