.containercommission {
  margin-left: 5%;
  margin-right: 5%;
}

.fontTitle {

  font-weight: normal;
  font-size: 20px;
  color: #433e3f;
}

select,
input {
  height: 30px;
  font-size: 14px;
}


row-selected

.mat-radio-ripple ~ .mat-ripple {
  height: 20px;
  width: 20px;
}

.overflow-table-container {
  position: relative;
  overflow: auto;
}
